/* COLORS */
/* MARGINS */
/* Google Font Library */
@import url(https://fonts.googleapis.com/css?family=PT+Sans+Narrow);
/* GLOBAL FONT SMOOTHING */
* {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

* {
  font-family: 'PT Sans Narrow', sans-serif; }

/*
 *
 *
 *
 *
 Global Page Settings
 *
 *
 *
 *
 */
#PageBody {
  background-color: #fff;
  margin-top: 46px; }

.login {
  background-color: #004A8F; }
  .login a, .login label {
    color: #fff; }

.irailhead, h3 {
  background-color: transparent;
  font-weight: bold; }

#right .irailhead {
  color: #000000; }

.bottom-left-out .irailhead, .bottom-left-out h3 {
  color: #ffffff; }

/* SIGN IN FORM, LOGIN FORM */
.formbutton, .FormTable1 td .formbutton {
  background-color: #E79824;
  border: none;
  color: #fff;
  height: inherit;
  text-align: center;
  padding: 1em 2em;
  font-weight: bold; }

.formbutton:hover, .FormTable1 td .formbutton:hover {
  background-color: #EDAF59; }

.FormTable1 td {
  text-align: left;
  font-size: 1.2em;
  padding: 1em 2em; }
  .FormTable1 td input, .FormTable1 td select {
    height: 32px; }
  .FormTable1 td input, .FormTable1 td select, .FormTable1 td textarea {
    background: #fff;
    border: 1px solid #e3e3e3;
    border-radius: 0;
    color: #666;
    font-size: 13px;
    line-height: 32px;
    margin: 0;
    padding: 0 15px;
    width: 100%; }
  .FormTable1 td #rememberme {
    display: inline;
    width: inherit;
    height: inherit; }

.redalert {
  display: inline-block;
  color: #DD1A5D;
  border-radius: 1px; }
  .redalert li {
    list-style-type: none; }

#SpTitleBar {
  background-color: #ffffff; }

a {
  text-decoration: none; }

a:hover {
  text-decoration: underline;
  color: #63CADF; }

#bottomcontentarea {
  background-color: transparent; }

.hp-center-out {
  display: none; }

.video_player {
  width: 100%;
  min-width: 275px; }

h1, h2, h3, h4, h5, h6 {
  font-weight: bold; }

/*
 *
 *
 *
 *
 Global Page Settings
 *
 *
 *
 *
 */
/* SECONDARY PAGE */
#right #login {
  background-color: #004A8F; }
  #right #login .irailhead, #right #login label, #right #login a {
    color: #ffffff; }
#right #news {
  background-color: #64A24C; }
  #right #news .irailhead, #right #news .irailcontent, #right #news a {
    color: #ffffff; }
  #right #news a:hover {
    color: #63CADF; }
#right #calendar {
  background-color: #63CADF; }
  #right #calendar .irailhead, #right #calendar .irailcontent, #right #calendar a {
    color: #004A8F; }

#SpNavBar {
  background-color: transparent; }
  #SpNavBar img {
    margin-right: 5px;
    position: relative;
    top: 4px; }

.ViewTable1 th, .calloutbox, .infobox {
  background-color: transparent; }

.FormTable1 {
  width: 454px;
  display: block;
  margin: auto; }

#CustomPageBody div {
  padding-bottom: 10em; }
#CustomPageBody p, #CustomPageBody ul {
  line-height: 27px;
  font-size: 1.5em; }

.about_us p, .about_us h1, .about_us h2, .about_us h3, .about_us h4, .about_us h5, .about_us h6 {
  text-align: center; }
.about_us i {
  font-size: 5em; }

/* TOP TOOL BAR AND SEARCH */
#itoolbar_bg {
  background-color: #004A8F;
  min-height: 47px; }

.toolbar-out {
  background-color: #004A8F;
  position: fixed;
  top: 0;
  left: 1px;
  width: 100vw;
  z-index: 1000000;
  box-shadow: 0px -1px 6px #000; }

#itoolbar a:hover {
  color: #63CADF; }

#isearch .form-control {
  border: none;
  outline: none;
  background: transparent;
  box-shadow: none;
  color: #e3e3e3; }

#isearch .input-group {
  margin-top: 4px;
  padding: 0.5em; }

#QuickSearchForm button {
  background: transparent; }

#isearch .btn {
  padding: 3px 10px;
  border: none;
  color: #e3e3e3; }

#itoolbar {
  position: relative;
  color: #e3e3e3;
  top: 7px; }

/* NAV BAR */
.navbar-collapse, .dropdown-menu {
  background-color: #004A8F; }

.nav li {
  border-bottom: 6px solid #004A8F; }
.nav li:hover {
  border-bottom: 6px solid #63CADF; }
.nav li, .nav a {
  transition: background-color 0.25s, border-color 0.25s; }

.mainmenu-out, .navbar-toggle {
  background-color: transparent; }

#mainmenu {
  font-size: 1.2em;
  text-align: left;
  background-color: #A1A3A6; }
  #mainmenu a {
    font-weight: bold;
    text-transform: uppercase;
    color: #ffffff;
    text-decoration: none; }
  #mainmenu a:hover {
    background-color: #4267A3; }
  #mainmenu .caret {
    display: none; }

.dropdown-menu {
  text-align: left;
  padding: 0;
  top: 5px; }

.navbar-collapse {
  padding: 0px; }

/* PAGE CONTENT */
#hp-main .content, #hp-main p {
  text-align: left;
  line-height: 1.5em;
  font-size: 1.2em; }
#hp-main .content p {
  font-family: 'PT Sans Narrow', sans-serif;
  color: #666; }
#hp-main .zone, #hp-main .irailhead {
  background-color: transparent; }
#hp-main .irailhead {
  font-size: 1.5em;
  line-height: 56px; }
#hp-main .bottomcontentarea img:hover {
  opacity: 80%; }
#hp-main .calendar {
  background-color: #ffffff;
  box-shadow: 2px 5px 4px rgba(37, 37, 37, 0.36); }
  #hp-main .calendar .irailhead {
    color: #004A8F; }
#hp-main .bottom-left-out {
  background-color: #64A24C;
  position: relative;
  bottom: 15px; }
  #hp-main .bottom-left-out p, #hp-main .bottom-left-out a {
    color: #ffffff; }
#hp-main #news .irailcontent {
  color: #ffffff; }
#hp-main #news a {
  font-size: 0.7em; }
#hp-main .hero-site-heading {
  font-size: 3em;
  font-weight: bold;
  line-height: 35px;
  margin-bottom: 10px; }

@media (max-width: 767px) {
  #PageBody {
    margin-top: 74px; }

  .FormTable1 {
    width: 225px; }

  .container {
    padding-left: 0;
    padding-right: 0; }

  #mainmenu ul {
    padding: 1em;
    font-size: 1.5em; }

  .bottom-left-out img {
    width: 112%;
    display: block;
    margin: auto;
    position: relative;
    right: 20px;
    bottom: 15px; } }

/*# sourceMappingURL=output.css.map */
