/* COLORS */
$background_color:#ffffff;
$primary-color: #004A8F;
$primary-color-light: #4267A3;
$font-color-light:#e3e3e3;
$secondary_green:#64A24C;
$secondary_blue:#63CADF;
$secondary_gold:#E79824;
$secondary_gold_light:#EDAF59;
$secondary_pink:#DD1A5D;

$secondary_grey_light:#A1A3A6;
$paragraph_color_dark:#666;

/* MARGINS */
$top-margin-offset: 47px;


/* Google Font Library */
@import url(https://fonts.googleapis.com/css?family=PT+Sans+Narrow);


/* GLOBAL FONT SMOOTHING */
* {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}





* {
    font-family: 'PT Sans Narrow', sans-serif;
}

/*
 *
 *
 *
 *
 Global Page Settings
 *
 *
 *
 *
 */
#PageBody {
    background-color:#fff;
    margin-top: ($top-margin-offset - 1px);
}

.login {
    background-color: $primary-color;
    a, label {
        color:#fff;
    }
}
.irailhead , h3 {
    background-color: transparent;
    font-weight:bold;
}
// secondary site 
#right .irailhead {
    color: #000000;
}

// homepage site
.bottom-left-out .irailhead, .bottom-left-out h3 {
    color: #ffffff;
}
/* SIGN IN FORM, LOGIN FORM */
.formbutton {
    background-color: $secondary_gold;
    border:none;
    color: #fff;
    height:inherit;
    text-align: center;
    padding: 1em 2em;
    font-weight: bold;
}
.formbutton:hover {
    background-color:$secondary_gold_light;
}

.FormTable1 td {
    text-align: left;
    font-size:1.2em;
    padding: 1em 2em;
    input, select {
        height: 32px;
    }
    input, select, textarea {
        background: #fff;
        border: 1px solid #e3e3e3;
        border-radius: 0;
        color: $paragraph_color_dark;
        font-size: 13px;
        line-height: 32px;
        margin: 0;
        padding: 0 15px;
        width: 100%;
    }
    .formbutton {
        @extend .formbutton;
    }
    #rememberme {
        display:inline;
        width:inherit;
        height:inherit;
    }
}
.redalert {
    display:inline-block;
    color:$secondary_pink;
    border-radius:1px;
    li {
        list-style-type: none;
    }
}

#SpTitleBar {
    background-color:$background_color;
}
a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
    color:$secondary_blue;
}
#bottomcontentarea {
    background-color:transparent;
}

// hide top center space
.hp-center-out { display: none; }

.video_player {
    width:100%;
    min-width: 275px;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
}
/*
 *
 *
 *
 *
 Global Page Settings
 *
 *
 *
 *
 */







/* SECONDARY PAGE */
#right {
    #login {
        background-color:$primary-color;
        // box-shadow: 2px 5px 4px rgba(37, 37, 37, 0.36);
        .irailhead , label, a {
            color:#ffffff;
        }
    }
    #news {
        background-color:$secondary_green;
        .irailhead, .irailcontent, a {
            color:#ffffff;
        }
        a:hover {
            color:$secondary_blue;
            }
    }
    #calendar {
        background-color:$secondary_blue;
        .irailhead, .irailcontent, a {
            color:$primary-color;
        }
    }

}

#SpNavBar { 
    background-color:transparent;
    img {
        margin-right: 5px;
        position: relative;
        top: 4px;
    }
}
.ViewTable1 th, .calloutbox, .infobox {
    background-color:transparent;
}
.FormTable1 {
    width:454px;
    display: block;
    margin: auto;
}
#CustomPageBody {
    div {
        padding-bottom:10em;
        // vertical-align: middle;
    }
    p, ul {
        line-height: 27px;
        font-size: 1.5em;
    }
}
.about_us {
    p, h1, h2, h3, h4, h5, h6 {
        text-align: center;
    }
    i {
        font-size:5em;
    }
}










/* TOP TOOL BAR AND SEARCH */
#itoolbar_bg {
     background-color: $primary-color;
     min-height: $top-margin-offset;
}
.toolbar-out {
    background-color: $primary-color;
    position: fixed;
    top: 0;
    left: 1px;
    width: 100vw;
    z-index: 1000000;
    box-shadow: 0px -1px 6px #000;
}

#itoolbar a:hover {
    color:$secondary_blue;
}

#isearch .form-control {
    border: none;
    outline: none;
    background: transparent;
    box-shadow: none;
    color:$font-color-light;
}

#isearch .input-group {
    margin-top: 4px;
    padding: 0.5em;
}

#QuickSearchForm button {
    background:transparent;
}
#isearch .btn {
    padding: 3px 10px;
    border: none;
    color: $font-color-light;
}

#itoolbar {
    position: relative;
    color: $font-color-light;
    top: 7px;
}










/* NAV BAR */
.navbar-collapse, .dropdown-menu {
    background-color: $primary-color;
}
.nav {
    li {
        border-bottom:6px solid $primary-color;
    }
    li:hover {
        border-bottom:6px solid $secondary_blue;
    }
    li, a {
        transition: background-color 0.25s, border-color 0.25s;
    }
}
.mainmenu-out, .navbar-toggle {
    background-color:transparent;
}
#mainmenu {
    font-size:1.2em;
    text-align: left;
    background-color: $secondary_grey_light;
    a {
        font-weight: bold;
        text-transform: uppercase;
        color:#ffffff;
        text-decoration: none;
    }
    a:hover {
        background-color:$primary-color-light;
    }
    .caret {
        display: none;
    }
} 
.dropdown-menu {
    text-align: left;
    padding:0;
    // position:relative;
    top: 5px;
}
.navbar-collapse {
    padding:0px;
}









/* PAGE CONTENT */
#hp-main {

    .content, p {
        text-align:left;
        line-height: 1.5em;
	    font-size: 1.2em;
    }
    .content p {
        font-family: 'PT Sans Narrow', sans-serif;
        color:$paragraph_color_dark;
    }

    .zone, .irailhead {
    	background-color:transparent;
    }
    .irailhead {
        font-size: 1.5em;
        line-height: 56px;
    }
    .bottomcontentarea {
        img:hover {
            opacity: 80%;
        }
    }
    .calendar {
        background-color:#ffffff;
        box-shadow:2px 5px 4px rgba(37, 37, 37, 0.36);
        .irailhead {
            color:$primary-color;
        }
    }
    .bottom-left-out {
        background-color:$secondary_green;
        position: relative;
        bottom: 15px;
        p,a {
            color:#ffffff;
        }
    }
    #news {
        .irailcontent {
            color:#ffffff;
        }
        a {
            font-size: 0.7em;
        }
    }
    .hero-site-heading {
        font-size:3em;
        font-weight: bold;
        line-height: 35px;
        margin-bottom: 10px;
    }

}


@media (max-width: 767px) {
	#PageBody {
	    margin-top: 74px;
	}
    .FormTable1 {
        width:225px;
    }
    .container {
        padding-left:0;
        padding-right:0;
    }
    #mainmenu {
        ul {
            padding: 1em;
            font-size: 1.5em;
        }
    }
    .bottom-left-out {
        img {
            width: 112%;
            display: block;
            margin: auto;
            position: relative;
            right: 20px;
            bottom: 15px;
        }
    }
}